.search {
  width: 17%;
  height: 6%;
  border-color: black;
  margin-left: 9%;
  left: 25%;
  border: 3px solid black;
  text-decoration-color: black;
}

.plus {
  font-size: 45px;
  color: #00ABF0;
  float: right;
  margin-right: 3%;
  cursor:pointer;
}

@media (max-width:767px){
    .search{
        margin-left:0;

    }
    .plus{
        margin-right:4%;
    }
}
