<app-reports></app-reports>

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="name">
        <input type="email" class="form-control" id="inputEmail4" placeholder="First Name">

      </div>
    </div>
    <div class="form-group col-md-6">

      <div class="name2">

        <input type="email" class="form-control" id="inputEmail4" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group col-md-6">

      <div class="name3">

        <input type="email" class="form-control" id="inputEmail4" placeholder="Address">
      </div>
    </div>
    <h1>Gender</h1>
    <mat-radio-group aria-label="Select an option">
      <mat-radio-button value="1">Male</mat-radio-button>
      <mat-radio-button value="2">Female</mat-radio-button>
    </mat-radio-group>
    <div class="form-group col-md-6">

      <div class="name4">

        <input type="email" class="form-control" id="inputEmail4" placeholder="Contact No">
      </div>
    </div>
    <div class="form-group col-md-6">

      <div class="name5">

        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
    </div>
    <button class="cancel" mat-raised-button>Cancel</button>
    <button class="save" mat-raised-button>Save</button>
  </div>
 
    </form>
   
